<%= image_tag "boardwalk.jpg", :class => "style-image" %>
<p>Create a new blog</p>

<%= form_for @blog do |f| %>
	<div><%= f.hidden_field :user_id, :value => @user.id %></div>
	<div>Title:<%= f.text_field :title %></div>
	<div>Category:<%= f.text_field :category %></div>
	<div>Content:<%= f.text_area :content %></div>
	<div><%= f.submit %></div>
<% end %>
