<%= image_tag "boardwalk.jpg", :class => "style-image" %>

<p>This is the blog</p>
<div class="blog-box">
	
	<div><p class = "showtitle"><%= @blog.title %></p></div>
	<div><p class = "cat"><%= @blog.category %></p></div> 
	<div><p class = "cont"><%= @blog.content %></p></div> 
	<div><p class = "showtitle">Written by: <%= @blog.username %></p></div>
</div>


<p>Comments:</p>
		<% @comments.each do |c|  %>
			<div class="blog-box">
				<p class= "commenter" %><%= c.username %></p>
				<p><%= c.message %></p>
			</div>
		<% end %>

		

	<% if logged_in? %>
		<div class="button" id="makecomment"><p>Make a Comment</p></div>
		<div id="commform"><%= render "commentform" %></div>
	<% end %>
		

	<%if logged_in? &&  @blog.user_id == current_user.id %>
		<div class="blog-box">
			<%= link_to "Edit", "/blogs/#{@blog.id}/edit", method: :get %>
			<%= link_to "Delete", blog_path, method: :delete %>
		</div>
	<% end %>