<%= image_tag "boardwalk.jpg", :class => "style-image" %>

<p>This is the blog</p>

<div> Title: <%= @blog.title %></div>
<div> Category: <%= @blog.category %></div> 
<div> Content: <%= @blog.content %></div> 

<p>Comments:</p>

	<% @comments.each do |c|  %>
		<div><%= c.message %></div>
	<% end %>

	<% if logged_in? %>
		<p>Make a comment:</p>
		<%= link_to "Comment", "/blogs/#{@blog.id}/comments/new", method: :get %>
	<% end %>

	<%if logged_in? &&  @blog.user_id == current_user.id %>
		<p>Edit Blog:</p>
		<%= link_to "Edit", "/blogs/#{@blog.id}/edit", method: :get %>

		<p>Delete your Blog:</p>
		<%= link_to "Delete", blog_path, method: :delete %>
	<% end %>