<%= image_tag "woods.JPG", :class => "style-image" %>

<p>User show page</p>
<div class="blog-box">
	<div> <p>Username:</p> <p><%= @user.username %></p></div>
	<div> <p>Email:</p> <p><%= @user.email %></p></div> 
</div>

<%if logged_in? &&  @user.id == current_user.id %>
	<div class="blog-box">
		<%= link_to "Edit Account", "/users/#{@user.id}/edit", method: :get %>
		<%= link_to "Delete Account", user_path, method: :delete %>
	</div>
<% end %>
