<%= image_tag "woods.JPG", :class => "style-image" %>

<p>User show page</p>

<div> Username: <%= @user.username %></div>
<div> Email: <%= @user.email %></div> 

<%if logged_in? &&  @user.id == current_user.id %>
	<p>Edit user Information:</p>
	<%= link_to "Edit", "/users/#{@user.id}/edit", method: :get %>


	<p>Delete your Account:</p>
	<%= link_to "Delete", user_path, method: :delete %>
<% end %>
