<!DOCTYPE html>
<html>
  <head>
    <title>AndrewsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	  <nav class='navbar'>
      <li><a href='/'>Home</a></li> 
      <li><a href='/blogs'>Blogs</a></li>
      <li><a href='/blogs/new'>Write a New Blogs</a></li>
    </nav>

  	 <%= flash[:message] if flash[:message] %>
    <%= yield %>
  </body>
</html>
