<!DOCTYPE html>
<html>
  <head>
    <title>AndrewsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
  	<nav class='navbar with-indicator'>
        <% if logged_in? %>
          <li class = 'navlist'><a href="/users/<%= current_user.id %>">Profile</a></li>
          <li class = 'navlist'><a href='/blogs'>Blogs</a></li>
          <li class = 'navlist'><a href='/blogs/new'>Write a New Blog</a></li>
          <li class = 'navlist'><%= link_to 'Log out', '/logout', {method: 'post'} %></li>
        <% end %>

        <% if !logged_in? %>
          <li class = 'navlist'><a href='/login'>Login</a></li>
          <li class = 'navlist'><a href='/blogs'>Blogs</a></li>
          <li class = 'navlist'><a href='/users'>Users</a></li>
          <li class = 'navlist'><a href='/users/new'>Create a New User</a></li>
        <% end %>
    </nav>
    <br>

    <%= flash[:message] if flash[:message] %>
    <%= yield %>
  </body>
</html>
